body {
    background-image: url('../img/personal_web_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#right_header {
    align-items: end;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
}

li {
    margin-right: 10px;
    font-size: 18px;
}

a {
    padding: 0 5px 5px 5px;
    text-decoration: none;
    color: black;
    transition-duration: 0.7s;
}

a:hover {
    color: white;
    background-color: rgba(0,0,0,0.4);
}

#intro_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#intro_cover {
    background-image: url('../img/personal_web_bg_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 720px;
    height: 450px;
    display: flex;
}

#left_container {
    width: 365px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

#links {
    display: inline-flex;
    justify-content: space-between;
}